select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    font-family: "微軟正黑體";
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    /* text-align: center; */
    width: 300px;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    margin: auto;
}


.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #fff;
}

.select:hover::after {
    color: #f39c12;
}

.section {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    width: 700px;
    margin: auto;
}

.wrapper .selectDiv {
    width: 300px;
    height: 270px;
    border: black 1px solid;
    margin: 10px auto 20px auto;
}

.wrapper .selectDiv .icon {
    text-align: center;
}

.wrapper .selectDiv .icon img {
    width: 150px;
    margin-bottom: 10px;
}

h1[data-v-094c5af0] {
    color: #00008b;
    text-align: center
}

a[data-v-094c5af0] {
    margin-right: 20px
}

.linkArea[data-v-094c5af0] {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 20px
}

h1 {
    color: #00008b;
    text-align: center
}

a {
    margin-right: 20px
}

.linkArea {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 20px
}